<# model = new MetricExtensionsModel("FuncGauge", "[NotNull] Func<double> valueProvider, ", "valueProvider, ") {
    MetricNamespace = "Vostok.Metrics.Primitives.Gauge"}; #>
<#@ include file="./../../Codegen/FactoryExtensions.ttinclude" once="true" #>