<# model = new MetricExtensionsModel("FuncGauge") {
    MetricNamespace = "Vostok.Metrics.Primitives.Gauge",
    NoGenerateCreate = true}; #>
<#@ include file="./../../Codegen/FactoryExtensions.ttinclude" once="true" #>