<#@ include file="./../../CodeGeneration/CodeGenerationCommon.ttinclude" once="true" #>
<# model = new MetricExtensionsModel("Gauge"); #>
<#@ include file="./../../CodeGeneration/MetricContextExtensionsMetric.ttinclude" once="true" #>