<# model = new MetricExtensionsModel("Reporter") {
    MetricInterface = "IReporter",
    MetricNamespace = "Vostok.Metrics.Primitives.Reporter",
    InheritDocType = "Vostok.Metrics.Primitives.Reporter.IReporter"}; #>
<#@ include file="./../../Codegen/FactoryExtensions.ttinclude" once="true" #>