<# model = new MetricExtensionsModel("Timer") {
    MetricInterface = "ITimer",
    MetricNamespace = "Vostok.Metrics.Primitives.Timer",
    InheritDocType = "Vostok.Metrics.Primitives.Timer.Timer"}; #>
<#@ include file="./../../Codegen/FactoryExtensions.ttinclude" once="true" #>